# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.travis.yml        export-ignore
/phpunit.xml.dist   export-ignore
/.scrutinizer.yml   export-ignore
/tests              export-ignore
/.editorconfig      export-ignore

# better diffs https://php.watch/articles/composer-gitattributes#diff-php
*.php diff=php

# All test snapshots and text stubs must have CRLF line endings
tests/**/__snapshots__/IcsGeneratorTest*    text eol=crlf

# PHPUnit
.phpunit.cache
